<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="travelers.tripplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch_me"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_me"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".register.signUp"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".register.signIn"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".addTrip.MainActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBrz7U1kyH-7GRpGeB1KJ16Y2T7xVBxZy4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".TripPiTest"></activity>
    </application>

</manifest>